<ul class="menu">
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page') }}">Модератор</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_group_order') }}">Группы заявок на ПК</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="#" style="color: grey">Сервисы</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_department') }}">Отделы</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_position') }}">Должности</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_user') }}">Профили</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_theme_consultation') }}">Темы консультаций</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_version') }}">Обновление</a></li>
</ul>