<ul class="menu">
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page') }}">Модератор</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_group_order') }}">Создать/Редактировать группу заявок на ПК</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="#" style="color: grey">Создать/Редактировать сервис</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="" style="color: grey">Создать/Редактировать Отдел</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="" style="color: grey">Создать/Редактировать должность</a></li>
    <li style="background-color: #e6e6e652; margin: 10px"><a href="{{ url_for('moderator_page_add_user') }}">Создать/Редактировать профиль</a></li>
</ul>