<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="{{ url_for('index') }}" style="margin: 0 5px">Главная</a></li>
            {% if current_user.is_administrator %}
                <li><a href="{{ url_for('admin_page') }}">Администратор</a></li>
                <li><a href="{{ url_for('moderator_page') }}">Модератор</a></li>
            {% endif %}
            {% if current_user.is_moderator %}
                <li><a href="{{ url_for('moderator_page') }}">Модератор</a></li>
            {% endif %}
            <li><a href="{{ url_for('computer_orders') }}">Заявки ПК</a></li>
            <li><a href="{{ url_for('group_orders') }}">Группы заявок ПК</a></li>
            <li><a href="{{ url_for('my_computer_orders') }}">Мои заявки ПК</a></li>
            <li><a href="{{ url_for('email_orders') }}">Заявки Почта</a></li>
            <li><a href="{{ url_for('my_email_orders') }}">Мои заявки Почта</a></li>
            <li><a href="{{ url_for('resources') }}">Ресурсы</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="{{ url_for('profile') }}">Ваш профиль</a></li>
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}" style="margin: 0 15px">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('logout') }}" style="margin: 0 15px">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</div>