{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">

{% endblock %}

{% block title %} Add Computer order {% endblock %}

{% block content %}

    <form method="POST" action="/upload"  enctype="multipart/form-data" id="id_dropzone" class="dropzone">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="grid-container">
            <br>
            <br>
            <h5>Необходимо заполнить поля:</h5>
            <div class="grid-x" style="padding-top: 10px">
                <div class="medium-8 cell">
                    <label>Тема заявки: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        <input id="title" type="text" placeholder="Тема заявки" name="title" autocomplete="off">
                    </label>
                    <p class="error-title" style="color: red"><p>
                    <p class="help-text">Не больше 250 символов.</p>
                </div>
                <div class="medium-8 cell">
                    <label>Описание заявки: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        <textarea rows=3 cols="50" placeholder="Описание заявки" name="description"></textarea>
                    </label>
                    <p class="error-description" style="color: red"><p>
                    <p class="help-text">Не больше 2000 символов.</p>
                </div>
                <div class="medium-8 cell" >
                    <div class="dropzone dz-clickable"  id="dropper" style="border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 70px; width: 600px">

                    </div>
                    <p class="help-text">Прикрепите скриншот. Количество файлов не больше 5 шт., максимальный размер одного файла не больше 5 Мб. </p>
                </div>
                <div class="medium-8 cell">
                    <input type="submit" id="submit" class="button" value="Создать">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script%}
    {{ super() }}

    <script type="application/javascript" src="{{ url_for('static', filename='dropzone.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='myDropzone.js') }}"></script>

{% endblock %}