{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">

{% endblock %}

{% block title %} Add Computer order {% endblock %}

{% block content %}

    <form method="POST" action="action"  enctype="multipart/form-data" name="dropzone" id="id_dropzone">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="grid-container">
            <br>
            <br>
            <h5>Необходимо заполнить поля:</h5>
            <div class="grid-x" style="padding-top: 10px">
                <div class="medium-8 cell">
                    <label>Тема заявки: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        <input id="title" type="text" placeholder="Тема заявки" name="title" autocomplete="off">
                    </label>
                    <p class="error-title" style="color: red"><p>
                    <p class="help-text">Не больше 250 символов.</p>
                </div>
                <div class="medium-8 cell">
                    <label>Описание заявки: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        <textarea rows=3 cols="50" placeholder="Описание заявки" name="description"></textarea>
                    </label>
                    <p class="error-description" style="color: red"><p>
                    <p class="help-text">Не больше 2000 символов.</p>
                </div>
                <div class="medium-8 cell" >
                    <div class="dropzone dz-clickable"  id="dropper" style="border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 70px; width: 600px">

                    </div>
                    <p class="help-text">Прикрепите скриншот. Количество файлов не больше 5 шт., максимальный размер одного файла не больше 5 Мб. </p>
                </div>
                <div class="medium-8 cell">
                    <input type="submit" id="submit" class="button" value="Создать">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script%}
    {{ super() }}
    <script type="application/javascript" src="{{ url_for('static', filename='dropzone.js') }}"></script>
    <script type="application/javascript">

            Dropzone.options.dropper = {
            dictDefaultMessage: "Нажмите в данное поле и выберете скриншоты.  Количество файлов не больше 5 шт., " +
                                 "максимальный размер одного файла не больше 5 Мб.",
            paramName: 'file',
            autoProcessQueue: false,
            addRemoveLinks: true,
            createImageThumbnails: false,
            chunking: true,
            forceChunking: true,
            url: '/upload',
            parallelUploads: 20,
            maxFilesize: 5, // megabytes
            maxFiles: 5,
            chunkSize: 5000000, // bytes

            accept: function(file, done) {
                if (file.size === 0) {
                    done("Пустой файл не будет загружен");
                }
                else { done(); }
            },

            init: function() {
                // this.on("maxfilesexceeded", function(file){
                //     if (!alert_msg) {
                //         alert("Вы добавили много файлов, лишние не буду добавлены в заявку! " +
                //               "Количество файлов не больше 5 шт., максимальный размер одного файла не больше 5 Мб.");
                //     }
                // });
                this.on("error", function(file, message) {
                    alert(' Файл с именем ' + file.name + ' не будет добавлен, так как он не отвечает требованиям. '
                    + message);
                    this.removeFile(file);
                });

                // var submitButton = document.querySelector('form[name="dropzone"]');
                myDropzone = this;

                $('#id_dropzone').on("submit", function(e) {

                    e.preventDefault();

                    var title = document.querySelector('input[name="title"]');
                    var description = document.querySelector('textarea[name="description"]');

                    this.formData = new FormData();
                    this.formData.append("title", title.value);
                    this.formData.append("description", description.value);
                    this._csrftoken = document.querySelector('input[name="csrf_token"]').value;
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/form");
                    xhr.setRequestHeader('X-CSRFToken', this._csrftoken);
                    var errMsg = 'Что то пошло не так, попробуйте позже.';
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200) {
                                document.querySelector('input[name="title"]').readOnly = true;
                                document.querySelector('textarea[name="description"]').readOnly = true;
                                var response_good = JSON.parse(xhr.responseText);

                                var filesOnlyError = false;

                                for (let i = 0; i < myDropzone.files.length; i++) {
                                    if (myDropzone.files[i].status === 'queued') {
                                        filesOnlyError = true;
                                    }
                                }

                                if (myDropzone.files.length > 0 && filesOnlyError) {
                                    myDropzone.response_ = response_good;
                                    myDropzone.processQueue();
                                }
                                else {
                                    window.location.href = response_good.data.url;
                                }
                            }
                            else if (xhr.status === 404) {
                                var response_bad = JSON.parse(xhr.responseText);
                                var error_title = document.querySelector('p[class="error-title"]');
                                var error_description = document.querySelector('p[class="error-description"]');
                                // error_title.innerText = response_bad.errors.title;
                                // error_description.innerText = response_bad.errors.description;
                                error_title.innerText = response_bad.errors.title;
                                error_description.innerText = response_bad.errors.description;
                                console.log(response_bad.errors);
                            }
                            else {
                                alert(errMsg);
                            }
                        }

                    };
                    xhr.send(this.formData);
                });
                myDropzone.on("sending", function(file, xhr, formData) {
                    console.log('sending the end!');
                    console.log(xhr.getAllResponseHeaders());
                    formData.append("title", this.response_.data.title);
                    formData.append("description", this.response_.data.description);
                    formData.append("order_id", this.response_.data.order);

                });
                myDropzone.on("queuecomplete", function(file, xhr, formData) {
                    console.log('queuecomplete the end!');
                    try {
                        window.location.href = this.response_.data.url;
                    } catch (e) {
                        console.log('error - e.name: ' +  e.name + ', msg: ' + e.message);
                    }
                });
                myDropzone.on("complete", function(file, xhr, formData) {
                    console.log('complete the end!');
                });
            },
        };

    </script>
{% endblock %}