<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}

            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <title>
                {% block title %} Default Title {% endblock %}
            </title>

            <link rel="stylesheet" href="{{ url_for('static', filename='foundation.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='motion-ui.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='foundation-prototype.min.css') }}">
            <link href="{{ url_for('static', filename='foundation-icons.css') }}" rel='stylesheet' type='text/css'>

            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        {% endblock %}
    </head>

    <body>

        {% block nav %}
             {% include '_top_bar.html' %}
        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block  script %}

            <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='foundation.min.js') }}"></script>
            <script src="{{ url_for('static', filename='motion-ui.min.js') }}"></script>

            <script>
                $(document).foundation();
            </script>

        {% endblock %}

    </body>
</html>