{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Computer order {% endblock %}

{% block content %}

    <div class="grid-x grid-padding-x" style="padding-top: 30px">

        <div class="cell {% if current_user.is_moderator %} small-6 {% else %} small-10 large-offset-1{% endif %}">
            <h4>Заявка на ПК:</h4>
            <hr style="max-width: none; padding-top: 10px;">
            <div><p style="display: inline;"><strong>Номер заявки: </strong></p><p style="display: inline;">{{ order.id }}</p></div>
            <div><p style="display: inline;"><strong>Заявитель: </strong></p><p style="display: inline;">{{ order.user.last_name }} {{ order.user.name }} {{ order.user.second_name }}</p></div>
            <div><p style="display: inline;"><strong>Тема: </strong></p><p style="display: inline;">{{ order.name }}</p></div>
            <div><p style="display: inline;"><strong>Описание: </strong></p><p style="display: inline;">{{ order.description}}</p></div>
            <div><p style="display: inline;"><strong>Дата создания: </strong></p><p style="display: inline;">{{ order.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</p></div>
            <div><p style="display: inline;"><strong>Статус: </strong></p><p style="display: inline;">{{ order.group_order.status | view_status }}</p></div>
            <div><p style="display: inline;"><strong>Исполнитель: </strong></p><p style="display: inline;">{% if order.group_order.user_performer %} {{ order.group_order.user_performer.name }} {% endif %}</p></div>
            <hr style="max-width: none;">
            <h5>Скриншоты:</h5>
            {% if order.files %}
                {% for file in order.files %}
                    <div>
                        <p style="display: inline; padding-right: 20px"><a href="{{ url_for('download', file_hash=file.hash) }}">Скачать</a></p>
                        <p style="display: inline; padding-right: 20px">{{ file.original_name }}</p>
                        <p style="display: inline; padding-right: 20px">{{ file.timestamp_created.strftime('%d-%m-%Y %H:%M:%S') }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h4>Скриншотов нет!</h4>
            {% endif %}
        </div>
        {% if current_user.is_moderator %}
            <div class="cell small-6" style="border-left: solid 1px grey">
                {% if not order.group_order %}
                    <p>У заявки нет группы, необходимо выбрать или <a href="">создать новую группу</a>:</p>
                    {% for group_order in group_orders %}
                        <button class="hollow button" href="#">{{ group_order.name }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}