{% if current_user.is_moderator %}
    {% extends 'moderator.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}
<!--{% set active_page = 'index' %}-->

{% block title %} Заявки на ПК {% endblock %}

{% block content %}
    {{ super() }}
    {% block moderator %}

    {% endblock %}
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <h4>Все заявки на ПК:</h4>
            <div style="margin: 20px;">
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('computer_orders') }}">Все</a></p>
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('computer_orders', filter='new') }}">Новые</a></p>
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('computer_orders', filter='in_work') }}">В работе</a></p>
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('computer_orders', filter='closed') }}">Закрытые</a></p>
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('computer_orders', filter='cancelled') }}">Отмененные</a></p>
            </div>
            {% if orders %}
                <table class="hover">
                <thead>
                    <tr>
                        <th style="text-align: center">№</th>
                        <th>Заявитель</th>
                        <th style="min-width: 250px;">Тема</th>
                        <th style="text-align: center; min-width: 300px">Описание</th>
                        <th style="text-align: center; min-width: 150px" >Дата создания</th>
                        <th style="text-align: center" >Статус</th>
                        <th style="text-align: center" >Исполнитель</th>
                        <th style="text-align: center" >Посмотреть</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr {{ order.group_order.status | view_status_css | safe}}>
                            <td style="text-align: center">{{ order.id }}</td>
                            <td style="text-align: center">{{ order.user.full_name }}</td>
                            <td style="word-wrap: break-word; word-break: break-all; min-width: 250px;">{{ order.name }}</td>
                            <td style="word-wrap: break-word; word-break: break-all; min-width: 250px;">{{ order.description | first_symbols }}</td>
                            <td style="text-align: center">{{ order.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            <td style="text-align: center">{{ order.group_order.status | view_status }}</td>
                            <td style="text-align: center">{% if order.group_order.user_performer %} {{ order.group_order.user_performer.full_name }} {% endif %}</td>
                            <td style="text-align: center">
                                <a href="{{ url_for('.computer_order', id=order.id) }}">Посмотреть{% if current_user.is_moderator %}, Переместить {% endif %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Нет заявок.</p>
            {% endif %}
        </div>
    </div>


{% endblock %}