{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Консультации {% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div style="margin: 20px;">
            <h4>Консультации:</h4>
            <br>
            {% if consultations %}
                <table class="unstriped">
                <thead>
                    <tr>
                        <th style="text-align: center;">№</th>
                        <th style="text-align: center; min-width: 140px;">Тема</th>
                        <th style="text-align: center; min-width: 200px;">Описание</th>
                        <th style="text-align: center; min-width: 110px;">Организация</th>
                        <th style="text-align: center; min-width: 100px">Рег. Номер</th>
                        <th style="text-align: center; min-width: 100px">ФИО задавшего вопрос, контакты</th>
                        <th style="text-align: center; min-width: 100px">Добавил</th>
                        <th style="text-align: center; min-width: 70px">Дата создания</th>
                        {% if current_user.position.chief %}
                            <th style="text-align: center; min-width: 100px">Редактировать</th>
                            <th style="text-align: center; min-width: 100px">Отменить</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for consultation in consultations %}
                        <tr {% if not consultation.status %} style="background-color: #b1abab "{% endif %}>
                            <td style="text-align: center">{{ consultation.id }}</td>
                            <td style="word-wrap: break-word; word-break: break-all;">{{ consultation.name }}</td>
                            <td style="word-wrap: break-word; word-break: break-all;">{{ consultation.description }}</td>
                            <td style="word-wrap: break-word; word-break: break-all;">{{ consultation.organization }}</td>
                            <td style="word-wrap: break-word; word-break: break-all;">{{ consultation.reg_number }}</td>
                            <td style="word-wrap: break-word; word-break: break-all;">{{ consultation.person }}</td>
                            <td>{{ consultation.user.full_name }}</td>
                            <td style="text-align: center">{{ consultation.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            {% if current_user.position.chief %}
                                <td style="text-align: center;"><a href="#">
                                    {% if current_user.department == consultation.user.department %}
                                        <a href="{{ url_for('add_consultation', id=consultation.id, next_page=next_page)}}">Редактировать</a></a>
                                    {% else %}
                                    {%endif %}
                                </td>

                                    {% if current_user.department == consultation.user.department %}
                                        {% if consultation.status %}
                                            <td style="text-align: center;">
                                                <a href="{{ url_for('change_status_consultation', id=consultation.id, status='off', next_page=next_page)}}">Отменить</a>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center;">
                                                <a href="{{ url_for('change_status_consultation', id=consultation.id, status='on', next_page=next_page)}}">Вернуть</a>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center;">
                                        </td>
                                    {%endif %}

                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Нет консультаций.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}