{% if current_user.is_moderator %}
    {% extends 'moderator.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}
<!--{% set active_page = 'index' %}-->

{% block title %} Group order {% endblock %}

{% block content %}
    {{ super() }}
    {% block moderator %}

    {% endblock %}
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="callout {{ category }}">
                            <p>{{ message | safe }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell {% if current_user.is_moderator %} small-6 {% else %} small-10 large-offset-1{% endif %}">
            <h5>Группа заявок на ПК:</h5>
            <hr style="max-width: none;">
            <div><p style="display: inline;"><strong>Номер группы заявок: </strong></p><p style="display: inline;">{{ group_order.id }}</p></div>
            <div><p style="display: inline;"><strong>Тема: </strong></p><p style="display: inline;">{{ group_order.name }}</p></div>
            <div><p style="display: inline;"><strong>Описание: </strong></p><p style="display: inline;">{{ group_order.description }}</p></div>
            <div><p style="display: inline;"><strong>Дата создания: </strong></p><p style="display: inline;">{{ group_order.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</p></div>
            <div><p style="display: inline;"><strong>Статус: </strong></p><p style="display: inline;">{{ group_order.status | view_status }}</p></div>
            <div><p style="display: inline;"><strong>Исполнитель: </strong></p><p style="display: inline;">{{ group_order.user_performer.name }}</p></div>
        </div>
        {% if current_user.is_moderator %}
            <div class="cell small-6" style="border-left: solid 1px grey">
                <h5>Действия с группой:</h5>
                <hr>
                <p>Выбрать статус (для переключения кликнуть кнопку):</p>
                <div class="button-group">
                    {{ group_order.status | select_status(group_order.id) | safe}}
                </div>
                <hr>
                <form method="POST" action="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <h5>Необходимо заполнить поле результата проделанных работ:</h5>
                    <label>Результат: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        {{ form.title(required=False) }}
                    </label>
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                    <p class="help-text">Не больше 250 символов.</p>
                    <label>Выбрать положительный или отрицательный результат:
                        {{ form.positive }}
                    </label>
                    <input type="submit" id="submit" class="button" value="{% if form.title.data %} Редактировать {% else %} Создать {% endif %}">
                </form>
                <hr>
                <h2>TO DO</h2>
                <h2>Возможность редактировать результат</h2>
                <h2>Возможность изменять результат</h2>
                <h5>Результаты данной группы:</h5>
                {% if group_order.results %}
                    <table class="hover">
                        <thead>
                            <tr>
                                <th style="text-align: center">№</th>
                                <th style="text-align: center; min-width: 300px">Проделанная работа</th>
                                <th style="text-align: center">Изменить</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in group_order.results[::-1] %}

                                <tr {% if result.positive %} style="background-color: #3adb7670" {% else %} style="background-color:  #ffae0045" {% endif %}>
                                    <td style="text-align: center">{{ result.id }}</td>
                                    <td>{{ result.name }}</td>
                                    <td style="text-align: center"><a href="{{ url_for('.group_order', id=group_order.id, result_id=result.id) }}">Редактировать</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p style="text-align: center; color: red">Ёще нет результатов!</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            <br>
            <h5>Заявки учатники данной группы:</h5>
            <br>
            {% if group_order.orders %}
                <table class="unstriped">
                <thead>
                    <tr>
                        <th style="text-align: center">№</th>
                        <th style="text-align: center">Заявитель</th>
                        <th style="text-align: center">Тема</th>
                        <th style="text-align: center; min-width: 500px">Описание</th>
                        <th style="text-align: center; min-width: 150px">Дата создания</th>
                        <th style="text-align: center">Статус</th>
                        <th style="text-align: center">Исполнитель</th>
                        <th style="text-align: center">Посмотреть</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in group_order.orders %}
                        <tr>
                            <td style="text-align: center">{{ order.id }}</td>
                            <td style="text-align: center">{{ order.user.last_name }} {{ order.user.name }} {{ order.user.second_name }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.description | first_symbols }}</td>
                            <td style="text-align: center">{{ order.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            <td style="text-align: center">{{ order.group_order.status | view_status}}</td>
                            <td style="text-align: center">{% if order.group_order.user_performer %} {{ order.group_order.user_performer.name }} {% endif %}</td>
                            <td style="text-align: center"><a href="{{ url_for('.computer_order', id=order.id) }}">Посмотреть</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Ёще нет заявок в данной группе</p>
            {% endif %}
        </div>
    </div>


{% endblock %}