{% if current_user.is_moderator %}
    {% extends 'moderator.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}
<!--{% set active_page = 'index' %}-->

{% block title %} Группы заявок {% endblock %}

{% block content %}
    {{ super() }}
    {% block moderator %}

    {% endblock %}
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            <h4>Группы заявок на ПК:</h4>
            <div style="margin: 20px;">
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('group_orders') }}">Все</a></p>
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('group_orders', filter='in_work') }}">В работе</a></p>
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('group_orders', filter='closed') }}">Закрытые</a></p>
                <p style="padding: 0 20px; display: inline;"><a href="{{ url_for('group_orders', filter='cancelled') }}">Отмененные</a></p>
            </div>
            {% if group_orders %}
                <table class="hover">
                <thead>
                    <tr>
                        <th style="text-align: center">№</th>
                        <th style="text-align: center; min-width: 150px;">Тема</th>
                        <th style="text-align: center; min-width: 180px;">Описание</th>
                        <th style="text-align: center; min-width: 200px;">Участники</th>
                        <th style="text-align: center; min-width: 100px">Дата создания</th>
                        <th style="text-align: center">Статус</th>
                        <th style="text-align: center">Исполнитель</th>
                        <th style="text-align: center">Посмотреть</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in group_orders %}
                        <tr {% if not order.orders %}
                            {% else %}
                                {{ order | view_status_css | safe }}
                            {% endif %}>
                            <td style="text-align: center; border: 1px grey solid;">{{ order.id }}</td>
                            <td style="word-wrap: break-word; word-break: break-all; border: 1px grey solid;">{{ order.name }}</td>
                            <td style="word-wrap: break-word; word-break: break-all; border: 1px grey solid;">{{ order.description }}</td>
                            <td style="word-wrap: break-word; word-break: break-all; border: 1px grey solid;">
                                {% if order.orders %}
                                    {% for participant in order.orders %}
                                <a style="display: block" href="{{ url_for('.computer_order', id=participant.id) }}">Заявка № {{ participant.id }} от {{ participant.user.last_name }}</a>
                                    {% endfor %}
                                {% else %}
                                    Нет участников
                                {% endif %}
                            </td>
                            <td style="text-align: center; border: 1px grey solid;">{{ order.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            <td style="text-align: center; border: 1px grey solid; min-width: 100px">{% if not order.orders %} <span style="color: red"> Еще нет заявок </span> {% else %} {{ order.status | view_status }} {% endif %}</td>
                            <td style="text-align: center; border: 1px grey solid;">{{ order.user_performer.full_name }}</td>
                            <td style="text-align: center; border: 1px grey solid;"><a href="{{ url_for('.group_order', id=order.id) }}">Посмотреть{% if current_user.is_moderator %}, Редактировать{% endif %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <span>
                {% if prev_url %}
                    <a href="{{ prev_url }}">Предыдущие записи</a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}">Следующие записи</a>
                {% endif %}
            </span><p><br></p>
            {% else %}
                <p style="text-align: center">Нет заявок.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}