{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Главная {% endblock %}

{% block content %}
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="callout success" style="margin: 30px;">
                    {% for message in messages %}
                        <p>{{ message | safe }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <br>
        <div class="grid-container">
            <div class="grid-x" style="padding-top: 30px">
                <div>
                    <p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">
                        <a href="{{ url_for('add_computer_order') }}">Добавить заявку на ПК</a>
                    </p>
                </div>

                <div>
                    <p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">
                        <a href="{{ url_for('add_consultation') }}">Добавить консультацию</a>
                    </p>
                </div>
                <!--<div>-->
                    <!--<p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">-->
                        <!--<a href="{{ url_for('add_note') }}">Добавить заметку</a>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">-->
                        <!--<a href="{{ url_for('add_recommendation') }}">Добавить пожелание/предложение</a>-->
                    <!--</p>-->
                <!--</div>-->
            </div>
            <hr>
            <h3>Ресурсы:</h3>
            <div class="grid-x">

                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 </a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1 Ресурс #1 Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1 Ресурс #1 Ресурс #1 Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресур</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1 Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1Ресурс #1 Ресурс #1</a>
                <a href="#" style="margin: 5px" class="large button">Ресурс #1 Ресурс #1</a>

            </div>
        </div>

{% endblock %}