{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Index {% endblock %}

{% block content %}

        <div class="grid-container">
        <div class="grid-x" style="padding-top: 30px">
            <div>
                <p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">
                    <a href="{{ url_for('add_computer_order') }}">Добавить заявку на ПК</a>
                </p>
            </div>
            <div>
                <p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">
                    <a href="{{ url_for('add_email_order') }}">Добавить заявку на Почту</a>
                </p>
            </div>
            <div>
                <p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">
                    <a href="{{ url_for('add_consultation') }}">Добавить консультацию</a>
                </p>
            </div>
            <div>
                <p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">
                    <a href="{{ url_for('add_note') }}">Добавить заметку</a>
                </p>
            </div>
            <div>
                <p style="background-color: #f8f9fa; margin: 10px; padding: 20px;">
                    <a href="{{ url_for('add_recommendation') }}">Добавить пожелание/предложение</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}