{% extends 'moderator.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Moderator Computer orders {% endblock %}

{% block content %}
    {{ super() }}
        {% block moderator %}

        {% endblock %}
        <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <h4>Все заявки на ПК:</h4>
            <br>
            {% if orders %}
                <table class="hover">
                <thead>
                    <tr>
                        <th style="text-align: center">№</th>
                        <th style="text-align: center">Заявитель</th>
                        <th style="text-align: center">Тема</th>
                        <th style="text-align: center; min-width: 300px">Описание</th>
                        <th style="text-align: center; min-width: 150px" >Дата создания</th>
                        <th style="text-align: center" >Статус</th>
                        <th style="text-align: center" >Исполнитель</th>
                        <th style="text-align: center" >Посмотреть</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td style="text-align: center">{{ order.id }}</td>
                            <td style="text-align: center">{{ order.user.last_name }} {{ order.user.name }} {{ order.user.second_name }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.description | first_symbols }}</td>
                            <td style="text-align: center">{{ order.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            <td style="text-align: center">{{ order.group_order.status | view_status }}</td>
                            <td style="text-align: center">{% if order.group_order.user_performer %} {{ order.group_order.user_performer.name }} {% endif %}</td>
                            <td style="text-align: center">
                                <a href="{{ url_for('.computer_order', id=order.id) }}">Переместить в группу</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Нет заявок.</p>
            {% endif %}
        </div>
    </div>


{% endblock %}