{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Moderator Add Group order {% endblock %}

{% block content %}

    <form method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="grid-container">
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <br>
            <h5>Необходимо заполнить поля:</h5>
            <div class="grid-x" style="padding-top: 10px">
                <div class="medium-8 cell">
                    <label>Название группы: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        {{ form.title(required=False) }}
                    </label>
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                    <p class="help-text">Не больше 250 символов.</p>
                </div>
                <div class="medium-8 cell">
                    <label>Описание группы:
                        {{ form.description(required=False) }}
                    </label>
                   {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                    <p class="help-text">Не больше 500 символов.</p>
                </div>
                <div class="medium-8 cell">
                    <label>Выбрать исполнителя: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        {{ form.users_performer(required=False) }}
                    </label>
                   {% if form.users_performer.errors %}
                        {% for error in form.users_performer.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="medium-8 cell">
                    <input type="submit" id="submit" class="button" value="{% if form.title.data %} Редактировать {% else %} Создать {% endif %}">
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            {% if group_orders %}
                <table class="hover">
                <thead>
                    <tr>
                        <th style="text-align: center">№</th>
                        <th style="text-align: center">Тема</th>
                        <th style="text-align: center; min-width: 600px">Описание</th>
                        <th style="text-align: center; min-width: 150px" >Дата создания</th>
                        <th style="text-align: center" >Статус</th>
                        <th style="text-align: center" >Исполнитель</th>
                        <th style="text-align: center" >Посмотреть</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in group_orders %}
                        <tr>
                            <td style="text-align: center">{{ order.id }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.description }}</td>
                            <td style="text-align: center">{{ order.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            <td style="text-align: center">{{ order.status | view_status }}</td>
                            <td style="text-align: center">{{ order.user_performer.name }}</td>
                            <td style="text-align: center"><a href="{{ url_for('moderator_page_add_group_order', id=order.id)}}">Редактировать</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Нет заявок.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}