{% extends 'moderator.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Moderator Add department {% endblock %}

{% block content %}
    {{ super() }}
    {% block moderator %}

    {% endblock %}
    <form method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="grid-container">
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <br>
            <h4>Создать Должность:</h4>
            <hr>
            <h5>Необходимо заполнить поля:</h5>
            <div class="grid-x" style="padding-top: 10px">
                <div class="medium-8 cell">
                    <label>Должность: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        {{ form.name(required=False) }}
                    </label>
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                    <p class="help-text">Не больше 512 символов.</p>
                </div>
                <div class="medium-8 cell">
                    <label>Доп. возможности:
                        {{ form.chief(required=False) }}
                    </label>
                    {% if form.chief.errors %}
                        {% for error in form.chief.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="medium-8 cell">
                    <input type="submit" id="submit" class="button" value="{% if mode %} Редактировать {% else %} Создать {% endif %}">
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            {% if positions %}
                <table class="hover">
                <thead>
                    <tr>
                        <th style="text-align: center">Должность</th>
                        <th style="text-align: center">Доп. возможности</th>
                        <th style="text-align: center; min-width: 150px" >Дата создания</th>
                        <th style="text-align: center; min-width: 150px" >Редактировать</th>
                    </tr>
                </thead>
                <tbody>
                    {% for position in positions %}
                        <tr>
                            <td style="text-align: center">{{ position.name }}</td>
                            <td style="text-align: center">{% if position.chief %}ДА{% endif %}</td>
                            <td style="text-align: center">{{ position.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            <td style="text-align: center"><a href="{{ url_for('moderator_page_add_position', id=position.id)}}">Редактировать</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Нет Должностей.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}