{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Moderator {% endblock %}

{% block content %}

    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            <h4>Режим модератора</h4>
            <br>
            {% block nav_moderator %}
                {% include '_nav_moderator.html' %}
            {% endblock %}
            {% block moderator %}
                <hr style="max-width: none;">
                <ul class="vertical menu">
                    <li><a href="{{ url_for('moderator_page_computer_orders') }}"> - Посмотреть все заявки, внести в нужную группу</a></li>
                    <li><a href="#"> - Посмотреть все группы заявок, изменить статус, выбрать сервис, закрыть</a></li>
                    <li><a href="#" style="color: grey"> - Вернуть группу заявок в работу</a></li>
                    <li><a href="#" style="color: grey"> - Вернуть заявоку в работу, сменить группу</a></li>
                    <li><a href="#" style="color: grey"> - Посмотреть все заявки по сотруднику</a></li>
                    <li><a href="#" style="color: grey"> - Посмотреть все отмененные заявки</a></li>
                </ul>
            {% endblock %}

        </div>
    </div>


{% endblock %}