{% extends 'moderator.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Добавить обновление {% endblock %}

{% block content %}
    {{ super() }}
    {% block moderator %}

    {% endblock %}
    <form method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="grid-container">
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <br>
            <h4>Создать Обновление:</h4>
            <hr>
            <h5>Необходимо заполнить поля:</h5>
            <div class="grid-x" style="padding-top: 10px">
                <div class="medium-8 cell">
                    <label>Версия: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        {{ form.version(required=False) }}
                    </label>
                    {% if form.version.errors %}
                        {% for error in form.version.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                    <p class="help-text">Не больше 250 символов.</p>
                </div>
                <div class="medium-8 cell">
                    <label>Описание:
                        {{ form.user_description(required=False) }}
                    </label>
                    {% if form.user_description.errors %}
                        {% for error in form.user_description.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="medium-8 cell">
                    <label>Описание (админская часть):
                        {{ form.admin_description(required=False) }}
                    </label>
                    {% if form.admin_description.errors %}
                        {% for error in form.admin_description.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="medium-8 cell">
                    <input type="submit" id="submit" class="button" value="{% if mode %} Редактировать {% else %} Создать {% endif %}">
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">
            {% if versions %}
                <table class="hover">
                <thead>
                    <tr>
                        <th style="text-align: center">Версия</th>
                        <th style="text-align: center">Описание</th>
                        <th style="text-align: center; min-width: 150px">Описание (админская часть)</th>
                        <th style="text-align: center; min-width: 150px">Дата создания</th>
                        <th style="text-align: center; min-width: 150px">Редактировать</th>
                    </tr>
                </thead>
                <tbody>
                    {% for version in versions %}
                        <tr>
                            <td style="text-align: center">{{ version.version }}</td>
                            <td style="text-align: center">{{ version.user_description }}</td>
                            <td style="text-align: center">{{ version.admin_description }}</td>
                            <td style="text-align: center">{{ version.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                            <td style="text-align: center"><a href="{{ url_for('moderator_page_add_version', id=version.id)}}">Редактировать</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Нет обновлений.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}