{% extends 'base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} My notes {% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x" style="padding-top: 30px">
        <div class="cell">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

        <div>
            <h4>Мои Консультации:</h4>
            <br>
            {% if consultations %}
                <table class="unstriped">
                <thead>
                    <tr>
                        <th style="text-align: center">№</th>
                        <th style="text-align: center">Тема</th>
                        <th style="text-align: center">Описание</th>
                        <th style="text-align: center">Организация</th>
                        <th style="text-align: center; min-width: 200px" >Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consultation in consultations %}
                        <tr>
                            <td>{{ consultation.id }}</td>
                            <td>{{ consultation.name }}</td>
                            <td>{{ consultation.description }}</td>
                            <td>{{ consultation.organization }}</td>
                            <td>{{ consultation.created_on.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="text-align: center">Нет консультаций.</p>
            {% endif %}
        </div>
    </div>


{% endblock %}