{% extends 'base.html' %}
{% set active_page = 'index' %}

{% block title %} Profile {% endblock %}

{% block content %}

    <div class="grid-container">
        <div class="grid-x align-center" style="padding-top: 30px">
            <div>
                <h4>Данные по вашему профилю:</h4>
                <br>
                <table class="unstriped" style="min-width: 900px">
                    <thead>
                        <tr>
                            <th style="text-align: center">Поле</th>
                            <th style="text-align: center; min-width: 750px">Информация</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ФИО:</td>
                            <td>{{ user.full_name }}</td>
                        </tr>
                        <tr>
                            <td>Организация:</td>
                            <td>{% if user.department.organization %} {{ user.department.organization.name }} {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Группа:</td>
                            <td>{{ user.department.name }}</td>
                        </tr>
                        <tr>
                            <td>Должность:</td>
                            <td>{{ user.position.name }}</td>
                        </tr>
                        <tr>
                            <td>Эл. адрес:</td>
                            <td>{{ user.email|default('', true) }}</td>
                        </tr>
                        <tr>
                            <td>Городской Телефон:</td>
                            <td>{{ user.phone|default('', true) }}</td>
                        </tr>
                        <tr>
                            <td>Внутрений телефон:</td>
                            <td>{{ user.internal_phone|default('', true) }}</td>
                        </tr>
                        <tr>
                            <td>Роль:</td>
                            <td>{{ user.role.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}